### Imported the required Libraries and Classes.

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]    # Titanic Dataset

In [7]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [8]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [9]:
X = df.drop(columns=['Survived'])  # Input Features
y = df['Survived']   # Target Feature

In [10]:
X

      Age  Pclass     Fare
0    22.0       3   7.2500
1    38.0       1  71.2833
2    26.0       3   7.9250
3    35.0       1  53.1000
4    35.0       3   8.0500
..    ...     ...      ...
886  27.0       2  13.0000
887  19.0       1  30.0000
888   NaN       3  23.4500
889  26.0       1  30.0000
890  32.0       3   7.7500

[891 rows x 3 columns]

In [81]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [82]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

### Using kNN Imputer

In [83]:
knn = KNNImputer(n_neighbors=3, weights='distance')   # n_neighbors=3/5/10,weights='distance'/"uniform - default"

In [84]:
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [88]:
dff = pd.DataFrame(X_train_trf)

In [90]:
dff.isnull().sum()

0    0
1    0
2    0
dtype: int64

In [85]:
lr = LogisticRegression()

In [86]:
lr.fit(X_train_trf,y_train)

LogisticRegression()

In [80]:
y_pred = lr.predict(X_test_trf)

In [75]:
accuracy_score(y_test,y_pred)

0.7150837988826816

### Comparision with Simple Imputer --> mean

In [20]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [21]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978